// --- SIZES ---

@responsive-size-tablet: 550px;
@responsive-size-desktop: 960px;

// --- COLOR ---

@color-white: #fff;
@color-black: #000;
@color-gray1: #333;
@color-gray9: #f9f9f9;

@text-color: @color-gray1;
