// --- SIZES ---

@responsive-size-tablet: 550px;
@responsive-size-desktop: 960px;

// --- COLORS ---

@color-white: #fff;
@color-black: #000;

@color-gray2: #222;
@color-gray3: #333;
@color-gray4: #444;
@color-gray5: #555;
@color-gray6: #666;
@color-gray7: #777;
@color-gray8: #888;
@color-gray9: #999;
@color-grayb: #bbb;
@color-grayc: #ccc;
@color-grayd: #ddd;
@color-graye: #eee;
@color-grayf9: #f9f9f9;
@color-grayfc: #fcfcfc;

@color-text: @color-gray3;
@color-pink: #FFE4E1;

@color-red: #e74c3c;
@color-red-dark: darken(@color-red, 10%);
@color-red--hover: darken(@color-red, 12.5%);
@color-red-dark--hover: darken(@color-red-dark, 12.5%);

@color-green: #2ecc71;
@color-green-dark: darken(@color-green, 5%);
@color-green--hover: darken(@color-green, 7.5%);
@color-green-dark--hover: darken(@color-green-dark, 10%);

@color-yellow: #f1c40f;
@color-yellow-dark: lighten(#f39c12, 10%);
@color-yellow--hover: lighten(#f39c12, 10%);
@color-yellow-dark--hover: darken(#f39c12, 5%);

@color-blue: #19B5FE;
@color-blue-dark: darken(@color-blue, 7.5%);
@color-blue--hover: darken(@color-blue, 10%);
@color-blue-dark--hover: darken(@color-blue-dark, 10%);

@color-interactive: @color-blue;
@color-interactive--hover: @color-blue-dark;

@color-overlay: rgba(10, 15, 25, .5);
@color-overlay-shadow: rgba(10, 15, 25, .2);

@color-facebook: #3b5998;
@color-facebook-dark: darken(@color-facebook, 5%);
@color-facebook--hover: darken(@color-facebook, 5%);
@color-facebook-dark--hover: darken(@color-facebook-dark, 5%);

// --- LAYERS ---

@z-index-base: 0;
@z-index-middle: 10;
@z-index-top: 20;

// --- TIMING ---

@timing-fast: 100ms;
@timing-normal: 250ms;
@timing-slow: 350ms;
