// --- SIZES ---

@responsive-size-tablet: 550px;
@responsive-size-desktop: 960px;

// --- COLORS ---

@color-white: #fff;
@color-black: #000;

@color-gray2: #222;
@color-gray3: #333;
@color-gray4: #444;
@color-gray5: #555;
@color-gray6: #666;
@color-gray7: #777;
@color-gray8: #888;
@color-gray9: #999;
@color-grayc: #ccc;
@color-grayd: #ddd;
@color-graye: #eee;
@color-grayf9: #f9f9f9;
@color-grayfc: #fcfcfc;

@color-red: #e74c3c;
@color-green: #2ecc71;
@color-blue: #19B5FE;
@color-pink: #FFE4E1;
@color-yellow: #f1c40f;

@color-red-dark: #c0392b;
@color-green-dark: #27ae60;
@color-blue-dark: #22A7F0;
@color-yellow-dark: #f39c12;

@color-text: @color-gray3;

@color-interactive: @color-blue;
@color-interactive--hover: @color-blue-dark;

@color-overlay: rgba(10, 15, 25, .5);
@color-overlay-shadow: rgba(10, 15, 25, .2);

@color-facebook: #3b5998;

// --- LAYERS ---

@z-index-base: 0;
@z-index-middle: 10;
@z-index-top: 20;

// --- TIMING ---

@timing-fast: 100ms;
@timing-normal: 250ms;
@timing-slow: 350ms;
