.user-select () {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.animation (@name, @duration: 250ms, @delay: 0, @ease: ease) {
    -webkit-animation: @name @duration @delay @ease;
    -moz-animation: @name @duration @delay @ease;
    -ms-animation: @name @duration @delay @ease;
}

.transition (@parameter) {
    -webkit-transition: @parameter;
    transition: @parameter;
}

.transform (@parameters) {
    -webkit-transform: @parameters;
    -ms-transform: @parameters;
    transform: @parameters;
}

.border-radius (@radius) {
    -ms-border-radius: @radius;
    border-radius: @radius;
}

.opacity (@opacity) {
    @msopacity: (@opacity * 100);
    opacity: @opacity;
    filter: ~"alpha(opacity=@{msopacity})";
}

.box-shadow (@shadow) {
    -webkit-box-shadow: @shadow;
    -ms-box-shadow: @shadow;
    box-shadow: @shadow;
}

.text-shadow (@shadow) {
    -webkit-text-shadow: @shadow;
    -ms-text-shadow: @shadow;
    text-shadow: @shadow;
}

.ellipsis () {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
