// Definitions
@import "./definitions";

// Fonts
@import "./fonts/feather";
@import "./fonts/opensans";

// Functions / Mixins
@import "./functions";

// Grid + base styling
@import "./vendor/skeleton";

// CSS loader
@import "./vendor/spinner";

// Components
@import "./app/components";
@import "./core/components";
@import "./login/components";
@import "./navigation/components";
@import "./projects/components";
@import "./search/components";


// Basic styling
* {
    box-sizing: border-box;
}

html, body {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -ms-touch-action: manipulation;
    touch-action: manipulation;
}

html, body {
    min-height: 100%;
}
