.login-view {
    max-width: 400px;
    margin: 0 auto;

    .spinner {
        margin: 0 auto;
    }

    form {
        margin: 0;
    }

    &__password-login {
        margin-bottom: 3rem;
    }

    &__social-login {
        margin-top: 3rem;
    }

    &__button {
        width: 100%;
        display: block;

        &--facebook {
            background-color: @color-facebook;

            &, &:hover {
                font-weight: 600;
                color: @color-white;
            }

            &:hover, &:focus, &:active {
                background-color: darken(@color-facebook, 10%);
            }
        }
    }

    &__error {
        text-align: center;
        color: @color-red-dark;
    }
}

.tablet-layout({

    .login-view {
        margin-top: 100px;
    }

});
