.divider {
    margin: 20px 0;
    text-align: center;
    position: relative;

    &__ruler {
        position: absolute;
        top: 52%;
        left: 0;
        width: 100%;
        height: 1px;
        margin: 0;
        border: 0;
        background-color: @gray-93;
    }

    &__text {
        position: relative;
        padding: 0 15px;
        font-style: italic;
        line-height: 30px;
        cursor: default;
        color: @gray-80;
        background-color: @white;
        .user-select;
    }
}
