.form-group {
    margin-bottom: 20px;

    &__label {
        display: block;
    }

    &__label, &__description {
        line-height: 30px;
        font-size: 14px;
    }

    &__description {
        font-weight: normal;
        font-size: 13px;
        font-style: italic;
        color: @color-gray9;

        &:before {
            content: "-";
            margin-left: 6px;
            margin-right: 4px;
        }
    }
}

.tablet-layout({

    .form-group {
        &--inline {
            margin-bottom: 0;
        }

        &--inline + &--inline {
            margin-left: 15px;
        }
    }

});
