.create-view {

    &__title, &__body {
        text-align: center;
    }

    &__body {
        margin: 1em auto;

        &--error {
            padding: 20px;
            color: @color-red;
            background-color: @color-pink;
            .border-radius(5px);
        }
    }

    &__privacy {
        max-width: 400px;
        margin: 2.5em auto 1em;
    }

    &__form {
        margin: 0 auto;
        max-width: 500px;
    }

    &__actions {
        margin-top: 4em;
        text-align: center;
    }

}

.tablet-layout({

    .create-view {
        &__toggle {
            max-width: 250px;
            margin: 0 auto;
        }

        &__button {
            width: auto;
            margin-bottom: 0;

            &--reset {
                margin-left: 20px;
            }
        }
    }

});
