.create-view {

    &__title, &__body {
        text-align: center;
    }

    &__body {
        margin: 1em auto;

        &--error {
            padding: 20px;
            background-color: @color-pink;
        }
    }

    &__toggle {
        margin: 2.5em auto 1em;
    }

    &__error {
        color: @color-red;
        margin: 0;
    }

    &__form {
        margin: 0 auto;
        max-width: 500px;
    }

    &__actions {
        margin-top: 4em;
        text-align: center;
    }

    &__button--reset {
        margin-left: 20px;
    }
}
