.login {

    .content-box {
        max-width: 440px;
        margin: 0 auto;
    }

    .spinner {
        margin: 0 auto;
    }

    button&__button {
        width: 100%;
        display: block;
        margin-top: 3rem;

        &--facebook {
            background-color: @color-facebook;

            &:hover, &:focus, &:active {
                background-color: darken(@color-facebook, 10%);
            }
        }
    }

    &__error {
        text-align: center;
        color: @color-red-dark;
    }
}