.login {

    .content-box {
        max-width: 440px;
        margin: 0 auto;
    }

    .spinner {
        margin: 0 auto;
    }

    &__button {
        &--submit {
            width: 100%;
            display: block;
            margin-top: 3rem;
        }
    }

    &__error {
        text-align: center;
        color: @color-red-dark;
    }
}