.profile-view {
    
    &__empty {
        max-width: 500px;
        margin: 0 auto;
        text-align: center;
    }

    &__title {
        font-size: 5rem;
    }

    &__body {
        font-size: 2rem;
    }

    &__actions {
        margin-top: 2em;
    }

    &__button {
        &--create {
            margin-right: 15px;
        }
    }
}
