.search-view {

    &__intro {
        max-width: 500px;
        margin: 0 auto;
        text-align: center;
    }

    &__title {
        font-size: 5rem;
    }

    &__body {
        font-size: 2rem;
    }
}
