.search-view {

    &__button {
        min-width: 0;
        height: 40px;
        line-height: 40px;
        padding: 0 20px;
    }

    .table__col--header {
        &.table__col--avatar,
        &.table__col--join {
            visibility: hidden;
        }
    }

}
