.navigation-menu {
    &__content {
        position: relative;
        height: 100%;
    }

    &__link {
        display: block;
        padding: 10px 20px;
        text-decoration: none;
        color: inherit;

        &--active {
            background-color: @gray-93;
        }
    }

    &__logout {
        width: 100%;
        padding: 20px;
        position: absolute;
        bottom: 0;
    }
}

.tablet-layout({

    .navigation-menu {
        &__content {
            flex: 1;
            display: flex;
            height: auto;
        }

        &__links {
            flex: 1;
            display: flex;
        }

        &__link {
            display: flex;
            align-items: center;
            margin: 0 10px;
            padding: 0;
            text-decoration: none;
            color: inherit;
            border-bottom: 2px solid transparent;
            outline: none;

            &--active {
                border-bottom-color: inherit;
                background-color: inherit;
            }
        }

        &__logout {
            display: none;
        }
    }

});
