.button-toggle {
    display: flex;
    cursor: pointer;
    .border-radius(5px);

    &__option {
        flex: 1;
        position: relative;
        text-align: center;
        line-height: 50px;
        height: 50px;
        background-color: @color-graye;
        border: 1px solid @color-graye;
        .user-select;

        &--first {
            .border-radius(5px 0 0 5px);
        }
        &--last {
            .border-radius(0 5px 5px 0);
        }

        &:focus {
            outline: none;
        }

        &:hover,
        &:focus {
            border-color: @color-gray9;
        }

        &--active {
            color: inherit;
            background-color: @color-white;

            &:focus {
                border-color: @color-interactive;
            }
        }
    }
}
