.project-list-item {
    padding: 10px;
    background: @color-white;
    border-bottom: 1px solid @color-graye;

    &__title {
        font-weight: bold;
        color: @color-gray5;
    }

    &__body {
        font-weight: 400;
        font-style: italic;
        font-size: 14px;
        color: @color-gray9;
    }

    &__owner {
        color: @color-gray5;
    }

    &:hover {
        cursor: pointer;
        background-color: @color-grayfc;
    }
}
