.table {

    @size: 40px;

    &__row {
        display: flex;
        padding: 10px;
        line-height: @size;
        border-bottom: 1px solid @color-graye;

        &--last {
            border-bottom: 0;
        }

        &--header {
            line-height: @size / 2;
        }

        &--body:hover {
            cursor: pointer;
            background-color: @color-grayf9;
        }
    }

    &__col {
        min-width: 80px;
        font-weight: 400;
        margin-right: 20px;

        &--avatar {
            min-width: 0;
            width: @size;
        }

        &--title {
            font-weight: 400;
        }

        &--title,
        &--owner {
            flex: 1;
            .ellipsis;
        }

        &--owner,
        &--members,
        &--status {
            font-size: 14px;
        }
    }

    &__row--header &__col {
        font-weight: 400;
        font-size: 14px;
        color: @color-gray9;
    }

}
