.user {
    display: flex;
    align-items: center;
    padding: 0 15px;
    position: relative;
    cursor: pointer;

    @size: 40px;

    &__avatar {
        width: @size;
        height: @size;
        border-radius: 100%;
    }

    &__name {
        .user-select;

        line-height: @size;
        margin-left: 10px;
        padding-right: 15px;
        display: none;

        &:after {
            content: "";
            width: 0;
            height: 0;
            display: inline-flex;
            border-width: 5px;
            border-style: solid;
            border-color: @color-black transparent transparent;
            position: relative;
            top: -2px;
            right: -10px;
        }

        @media (min-width: @responsive-size-tablet) {
            display: block;
        }
    }

    &__links {
        position: absolute;
        z-index: @z-index-top;
        top: 70px;
        left: 0;
        width: 100%;
        background-color: @color-white;
    }

    &__link {
        display: block;
        line-height: 40px;
        padding: 0 15px;

        &:hover {
            background-color: @color-gray8;
        }
    }
}